
.gameCell {
  background-color: darkcyan;
  border: 2 solid darkblue;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  min-width: 100px;
  height: 100px;
  background-image: url('../images/lamp_off.png');
  background-repeat: no-repeat;
}

.lightOn {
  background-image: url('../images/lamp.png');
  background-repeat: no-repeat;
  animation: showOnAnimation 1.5s ease-out normal;
}

.textPage{
  // font-family: '';
  font-size: 18px;
}
@keyframes showOnAnimation {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 100;
  }
}